# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
*.cover
.cache
*.log

# Taskfile
.task/
task.log

# VSCode
.vscode/
.task/*